<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802950750372-gu4kqcnmtih2j7gltd6atfqnbb7kguvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802950750372-gu4kqcnmtih2j7gltd6atfqnbb7kguvm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802950750372-tuujpqosv9drulstti5kb59k7v9gmfe1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkSi7iMvJY5KgSszw2W6zsYoXQBsStOFM</string>
	<key>GCM_SENDER_ID</key>
	<string>802950750372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeylanitechnologies.AudioStories</string>
	<key>PROJECT_ID</key>
	<string>audiostories-574fe</string>
	<key>STORAGE_BUCKET</key>
	<string>audiostories-574fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802950750372:ios:491017a3454ab883</string>
	<key>DATABASE_URL</key>
	<string>https://audiostories-574fe.firebaseio.com</string>
</dict>
</plist>